
<p>You are signing in from a device we do not recognise.  You need to confirm this new device.</p>

<p>Please check your email (<%= current_user.email %>) and enter the 5-digit validation code below or enter your security code from Google Authenticator (if you're using that):</p>

<%= form_for current_session, :url => {:action => :validate} do |f| %>
  <%= f.text_field :validation_code %>
  <%= f.submit 'Validate' %>
<% end %>

<p>This device will be remembered for 30 days.  If you haven't received the validation email you can <%= link_to 'send another one', resend_session_path(current_session) %>.</p>

<h2>The email</h2>

<p>For the purposes of this demo, here is the email you might receive:</p>

<pre><%= Mailer.session_confirmation(current_session) %></pre>